@media (min-width:1024px){

    body{
        background-image: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
        background-position: -20px -20px , 255px 100px;
        background-size: 450px, 1000px;
    }

    .principal{
        width: 50%;
    }

    .parte-1{
        margin-top: 1px;
        display: flex;
    }

    .titulo{
        margin-top: 0;
        font-size: 45px;
        width: 70%;
        text-align: left;
    }

    .complemento{
        width: 80%;
        font-size: 18px;
        text-align: left;
    }

    .etiqutas{
        width: 50%;
    }

    .etiqueta-1, .etiqueta-2, .etiqueta-3{
        margin-top: 20px;
        display: flex;
        width: 310px;
    }

    .etiqueta-1{
        margin-left: 70px;
    }

    .etiqueta-2{
        margin-left: 140px;
    }

    .etiqueta-3{
        margin-left: 210px;
    }

    .estrella{
        margin-right: 4px;
    }

    .texto-de-etiquetas{
        margin: 5px 0 0 0;
    }

    .parte-2{
        width: 100%;
        margin-top: 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .encabezado{
        margin: 0 auto 5px;
    }

    .comentario{
        margin: 0 auto 10px;
    }

    .cart-1{
        padding: 20px;
        width: 310px;
        margin: 0 auto;
    }

    .cart-2{
        padding: 20px;
        margin: 30px auto 0;
        width: 310px;
    }

    .cart-3{
        padding: 20px;
        width: 300px;
        margin: 60px auto 0;
    }

}